* {
    font-size: 10px;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    color: #000;
}

main {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
}
/*header */
header {
    display: flex;
    background-color: #ccc;
    padding: 2rem;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
}
h1 {
    font-size: 4.5rem;
}
nav ul {
    display: flex;
    list-style-type: none;
}
nav a {
    font-size: 1.5rem;
    text-decoration: none;

}
nav li {
    padding-left: 2rem;
}
nav li:hover {
    transform: translateY(-0.2rem);
    transition: 200ms;
}

/* me */
img {
    width: 200px;
    height: 200px;
    max-width: 100%;
    max-height: 100%;
}
#me {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
#border {
    padding: 2rem;
    border: 1px solid #000;
    border-radius: 10px;
}
h2 {
    font-size: 4rem;
}
#me h3 {
    font-size: 2.5rem;
    font-style: italic;
}
article * {
    font-size: 2rem;
    padding: 1rem;
}
#me ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}
#me li {
    text-decoration: 1px underline;
}

/* opleiding */
#opleiding {
    height: 100vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
h3 {
    font-size: 2.5rem;
}
#opleiding article {
    border-bottom: 1px dotted #000;
}

/* projecten */
#projecten {
    height: 90vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
#projecten table td{
    font-size: 2rem;
    width: 20px;
    padding: 1rem;
    border-bottom: 1px solid #000;
    text-align: center;
}
#projecten table td a  {
    font-size: 2rem;
    text-decoration: none;
    font-style: italic;
}
#projecten a:hover {
    text-decoration: underline;
    color: #ccc;
}
#projecten table td:first-of-type {
    font-weight: bold;
}

/* skills */
#skills {
    height: 100vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
#skills h3, #skills li, #skills ul {
    padding: 0;
}
#skills ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style-type: none;
    gap: 2rem;
}
.skills {
    text-align: right; /* Right-align text */
    padding-top: 10px; /* Add top padding */
    padding-bottom: 10px; /* Add bottom padding */
    color: white; /* White text color */
}
/* percentage */
.beginner {width: 10%; background-color: #f44336; content: 10%}
.basis {width: 20%; background-color: #f44336; content: 10%}
.okay {width: 50%; background-color: #f44336; content: 10%}
.goed {width: 70%; background-color: #f44336; content: 10%}
.geweldig {width: 80%; background-color: #f44336; content: 10%}
.expert {width: 100%; background-color: #f44336; content: 10%}

/* reflectie */
#reflectie {
    height: 100vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

/* contact */
#contact {
    height: 100vh;
    align-items: center;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
form {
    display: flex;
    flex-direction: column;
    width: 70%;
    border: 1px solid #ccc;
}
#contact h2 {
    padding: 2rem;
}
form * {
    margin: 1rem;
    padding: 0.5rem;
    font-size: 1.5rem;
}
#contact ul {
    list-style-type: none;
}
#contact ul li {
    font-size: 2rem;
    padding: 2rem;
}
#contact ul a {
    text-decoration: none;
    font-size: 2rem;
}
#contact a:hover {
    text-decoration: underline;
}

/* footer */ 
footer {
    display: flex;
    flex-direction: row;
    position: sticky;
    bottom: 0;
    background-color: #ccc;
    justify-content: space-around;
}
footer ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
footer li {
    padding: 0.5rem;
}
footer a {
    font-size: 1.2rem;
}