* {
    margin: 0;
    padding: 0;
    font-size: 10px;
}
body {
    background-color: #0e1111;
    color: #CF000F;
    text-shadow: 1px 2px 2px #4E4E4E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 70%;
    margin: 0 auto;
}
/* header */
header {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    align-items: center;
}
h1 {
    font-size: 4rem;
}
nav ul {
    display: flex;
    list-style-type: none;
}
nav li {
    padding-right: 2rem;
}
nav li a {
    color: #CF000F;
    font-size: 2rem;
    text-decoration: none;
}
nav li:hover {
    transform: translateY(-0.3rem);
    transition: 200ms;
}
/* main*/
p, article {
    font-size: 2rem;
    padding: 2rem;
}
main a {
    font-size: 2rem;
    color: #CF000F;
    text-decoration: none;
}
main a:hover {
    text-decoration: underline;
}
main {
    border-top: 2px solid #CF000F;
    border-bottom: 2px solid #CF000F;
}
h2 {
    font-size: 3rem;
    font-style: italic;
}
#commands {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#commands * {
    font-size: 2rem;
}
#commands ol * {
    padding: 1rem;
}
#ideas {
    font-size: 3rem;
}
/*footer*/
footer ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
footer a {
    font-size: 2rem;
    color: #CF000F;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}